/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

@import "bootstrap/scss/bootstrap-grid";
@import url("https://use.typekit.net/vre3rku.css");

@media (max-width: 768px) {
  h2 {
    font-size: 25px;
    padding-top: 40px;
    padding-left: 25px;
    font-style: italic;
  }

  .menu {
    padding-bottom: 50px;
  }

  .menu-carousel {
    text-align: center;
    padding: 143px 0 143px;
  }
  .menu-carousel img {
    width: 150px;
  }

  .menu-carousel-lg {
    display: none;
  }

  img.cake {
    margin: 0 50px 0;
  }
  img.arrow {
    width: 45px;
  }

  .instagram-logo {
    padding-left: 25px;
    padding-bottom: 5px;
  }

  .evento {
    margin-top: 200px;
  }

  .evento-background {
    padding: 85px 10px 80px 0;
  }

  .noi {
    padding-bottom: 70px;
  }

  .history,
  p {
    padding-right: 52px;
    padding-left: 25px;
    padding-top: 20px;
  }

  ul {
    padding-left: 25px;
    padding-top: 20px;
  }

  nav {
    text-decoration: underline;
    gap: 10px;
    padding: 57px 0;
  }

  a {
    font-size: 15px;
  }

  footer {
    padding-bottom: 272px;
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 30px;
    padding-top: 30px;
  }

  .menu {
    padding-bottom: 153px;
    margin-bottom: 140px;
    margin-top: 140px;
  }

  .menu-carousel img {
    width: 288px;
  }

  .menu-carousel {
    display: none;
  }

  img.cake {
    margin: 0 38px 0;
  }
  img.arrow {
    width: 48px;
  }

  .instagram-logo {
    padding-left: 20px;
    padding-bottom: 10px;
  }

  .evento-background {
    padding: 85px 45px 80px 0;
    margin-bottom: 100px;
  }

  nav a {
    text-decoration: none;
  }

  nav {
    gap: 95px;
    padding: 57px 0;
  }

  a {
    font-size: 25px;
  }

  a:hover {
    opacity: 0.5;
  }

  .history,
  p {
    padding-right: 52px;
    padding-left: 25px;
  }

  ul,
  p,
  h2 {
    padding-left: 20px;
  }

  .history {
    padding-bottom: 178px;
  }

  .indirizzo {
    padding: 10px 0 0;
  }

  footer {
    padding-bottom: 207px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  // padding-top: 12px;
  // padding-bottom: 12px;
  // background-color: rgba(86, 61, 124, 0.15);
  // border: 1px solid rgba(86, 61, 124, 0.2);
}
html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  background-color: #f0ece1;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

header {
  position: relative;
  height: 545px;
}

.header-background {
  position: absolute;
  inset: 0;
  filter: blur(2);
  background-image: url("../img/header-img.webp");
  background-size: cover;
  z-index: -2;
  background-position: center;
}

h1 {
  width: 150px;
  padding-top: 190px;
  margin-left: 12%;
  z-index: 1;
}

nav {
  color: black;
  font-family: adobe-caslon-pro, serif;
  display: flex;
  justify-content: flex-end;
  padding: 57px 0;
}

h2 {
  font-family: adobe-caslon-pro, serif;
  font-weight: 200;
}

p {
  font-family: adobe-caslon-pro, serif;
  font-size: 15px;
}

.noi {
  background-color: #af8964;
  text-align: left;
}

.menu {
  background-color: #af8964;
}

.evento {
  position: relative;
}

.evento p {
  padding-top: 10px;
  padding-bottom: 20px;
}

.evento-block {
  background: rgba(white, 0.5);
}

.evento-background {
  background-image: url("../img/library-img.webp");
  background-size: cover;
  background-position: center;
}

li {
  font-family: adobe-caslon-pro, serif;
  font-size: 15px;
  list-style-type: "-";
  padding-left: 20px;
  margin-left: 10px;
}

.carousel-menu {
  margin: auto;
}

.contato {
  padding-bottom: 20px;
}

.mail {
  padding-top: 5px;
}

h2 #evento {
  padding-top: 21px;
}
